
*{
    margin:0;padding:0; box-sizing: border-box
}
@import "./import/operaciones";
@import "./import/variables";
//header y footer en gris y el resto en negro
body{
    background-image: url("https://snarkypuppy.com/assets/backgrounds/light-paper.jpg");
}
header{
    color: black;
    
    font-family: "Oswald", sans-serif;
    font-size: 120%;
   
}

.header__logoYSecciones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
   
}
//logo de la banda
//aca tengo un problema, no puedo sacar logoBanda porque me rompe todo el header. lo raro es que esto antes no estaba y funcionaba.
//tampoco estoy pudiendo agrandar la imagen porque me toma height y width como si fuera el header
.header__logoBanda{
    height: 15vh;
    width: 25vh;
    
   
}
.header__logoBanda:hover{
    transform: scale(1.5);
}

.header__seccionesDeLaWeb ul li{
    display: inline;
    padding: 2vh 2vh 2vh 2vh;  
    position: relative;   
}
.header__seccionesDeLaWeb ul{
    list-style-type: none;
   
}
.header__seccionesDeLaWeb li{
    display: inline-block;
    position: relative;
   
}
.header__seccionesDeLaWeb ul li ul{
    position: absolute;
    display: none;
}
.header__seccionesDeLaWeb ul li ul li{
    display: block;
    text-align: center;
}
.header__seccionesDeLaWeb ul li:hover ul{
    display: block;
    background-image: url("https://snarkypuppy.com/assets/backgrounds/light-paper.jpg");
  
}
.header__seccionesDeLaWeb:hover{
    transform: skewX(10deg);
   
}
a{
    text-decoration: none; color: black;
    padding: 2vh;
    
}
main{
    color: whitesmoke;
    background-color: black;
    background-image: url("https://snarkypuppy.com/assets/backgrounds/dark-paper.jpg");
    height: 150vh;
}

.footer{
    color: black;
    background-image: url("https://snarkypuppy.com/assets/backgrounds/light-paper.jpg");
    height: 20vh;
}


.videosYEscrito{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}
.resena{
font-size: 150%; font-family:Arial, Helvetica, sans-serif; font-style: oblique;
    float: right; padding: 1% 2% 1% 2%;
    display: block;
   
}

.videosInicio{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
   
    
}
.imagenFecha{
    height: 30vh;
    width: 30vh;
}
.fotoChapu{
height: 20vh;
width: 35vh;
}

.fechasEImagenes{
    display: grid;
    grid-template-areas: 
    "fotoBondi tablaTrastienda"
    "fotoCantante tablaMakena";
    grid-template-columns: 4fr 8fr;
    grid-template-rows: 4fr 8fr;

}
.fotoBondi{
    grid-area: fotoBondi;
}
.tablaTrastienda{
    grid-area: tablaTrastienda;
    
}
.fotoCantante{
    grid-area: fotoCantante;
}
.tablaMakena{
    grid-area: tablaMakena;
    
}


//quiero hacer un scale con hover a la parte de secciones
//pero probe de mil formas con class para que me tome inicio, discografia,etc
//por separado pero nada, es como si no tomara las class que les pongo


@media only screen and (max-width: 767px){

    .fechasEImagenes{
     //    display: grid;
     grid-template-columns: 1fr;
        grid-template-areas: 
        "fotoBondi"
        "tablaTrastienda"
        "fotoCantante"
        "tablaMakena";
    }

}
@media only screen and (max-width: 320px){
    .fechasEImagenes{
        //   display: grid;
        grid-template-columns: 1fr;
           grid-template-areas: 
           "fotoBondi"
           "tablaTrastienda"
           "fotoCantante"
           "tablaMakena"; 
        }
}